# CLion stuff
/.idea
cmake-build-*

# Vim stuff
*.swp

# My CMake build
/build
/build-*

# Test artifacts
*.o
*.optrpt
*.s
*.ll
/node-main
*-out.cpp
*-out.cu
*-out.c

# Python artifacts
__pycache__/
*.egg-info

# Compile commands
compile_commands.json

# VS code stuff
/.vscode